<% provide(:title, 'Welcome!') %>
<section id="main-home">	
	<h1>Code Academy Dashboard</h1>
	<section class="btn btn-large btn-primary">
		<%= link_to 'Sign in with Github', '/auth/github' %>
	</section>
</section>