//Override Bootstrap Styles
$navbarBackground: #275B8C;
$navbarLinkColor: #fff;

@import "bootstrap";

body { padding-top: 160px; }

@import "bootstrap-responsive";

/*-----COLORS-----*/
$blue: #275B8C;

/*-----TYPOGRAPHY-----*/
h1 {
	color: $blue;
	margin-bottom: 20px;
}

/*-----HEADER-----*/
.navbar-inner {
	background: $blue;
	
	nav {
	  position: absolute;
	  top: 45px;
	  right: 40px;
	
	  .nav li a:hover {
		text-decoration: underline;
	  }
	}
}

/*-----FOOTER-----*/
footer {
	margin-top: 50px;
	padding-top: 5px;
	
	hr.footer-break {
		height: 1px;
		color: $blue;
		background-color: $blue;
	}
	
	p.copyright {
		text-align: center;
	}

}

/*-----HOME-----*/
#main-home h1 {
	text-align: center;
}