<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
		<div id= "logo"> <%= image_tag('ca_logo_mid.png') %></div><!--#logo-->
		<nav>
	      <ul class="nav">
		    <li><%= link_to 'Log in', '#' %></li>
	      </ul>	
	    </nav>
	</div>
  </div>
</header>